@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);
/*
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* css debugger */
/** {*/
/*background: #000 !important;*/
/*color: #0f0 !important;*/
/*outline: solid #f00 1px !important;*/
/*}*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Basic */
body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}
body {
  background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -webkit-animation: none !important;
          animation: none !important;
  transition: none !important;
}

/* Type */
html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}
@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
}
body {
  background-color: #fff;
  color: #444;
}

body, input, select, textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

p.special {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1rem 0;
  letter-spacing: 0.25rem;
}

p.special:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
}

.welcometext {
  font-family: "Major Mono Display", monospace;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 2rem 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
}

code {
  border-radius: 2px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1rem 1.5rem;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0;
}

hr.major {
  margin: 3rem 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input, select, textarea {
  color: #555;
}

a {
  color: #00c3bc;
}

strong, b {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}

blockquote {
  border-left-color: #00c3bc;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

hr {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

/* Box */
.box {
  margin-bottom: 2rem;
  background: #FFF;
}

.box h3 {
  padding: 0.5rem 0 0 2rem;
}

.box .image.fit {
  margin: 0;
  border-radius: 0;
}

.box .image.fit img {
  border-radius: 0;
}

.box header h2 {
  margin-bottom: 2rem;
}

.box header p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.25rem 0;
  padding: 0 0 0.75rem 0;
  letter-spacing: 0.25rem;
}

.box header p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

.box .content {
  padding: 3rem;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

@media screen and (max-width: 736px) {
  .box .content {
    padding: 2rem;
  }
}
.box {
  border-color: rgba(144, 144, 144, 0.25);
}

/* Button */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2.85rem;
  line-height: 2.95rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type=submit].icon,
input[type=reset].icon,
input[type=button].icon,
button.icon,
.button.icon {
  padding-left: 1.35rem;
}

input[type=submit].icon:before,
input[type=reset].icon:before,
input[type=button].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}

input[type=submit].fit,
input[type=reset].fit,
input[type=button].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

input[type=submit].small,
input[type=reset].small,
input[type=button].small,
button.small,
.button.small {
  font-size: 0.8rem;
}

input[type=submit].big,
input[type=reset].big,
input[type=button].big,
button.big,
.button.big {
  font-size: 1.35rem;
}

input[type=submit].disabled, input[type=submit]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=button].disabled,
input[type=button]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
    padding: 0;
    width: 100%;
  }
}
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  background-color: #f2f2f2;
  color: #000 !important;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
  background-color: white;
}

input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
button:active,
.button:active {
  background-color: #e5e5e5;
}

input[type=submit].alt,
input[type=reset].alt,
input[type=button].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #555 !important;
}

input[type=submit].alt:hover,
input[type=reset].alt:hover,
input[type=button].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input[type=submit].alt:active,
input[type=reset].alt:active,
input[type=button].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type=submit].alt.icon:before,
input[type=reset].alt.icon:before,
input[type=button].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}

input[type=submit].special,
input[type=reset].special,
input[type=button].special,
button.special,
.button.special {
  background-color: #00c3bc;
  color: #ffffff !important;
}

input[type=submit].special:hover,
input[type=reset].special:hover,
input[type=button].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #00c3bc;
}

input[type=submit].special:active,
input[type=reset].special:active,
input[type=button].special:active,
button.special:active,
.button.special:active {
  background-color: #00c3bc;
}

/* Form */
form {
  margin: 0 0 2rem 0;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  content: "\f078";
  display: block;
  height: 2.75rem;
  line-height: 2.75rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75rem;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type=text],
input[type=password],
input[type=email],
select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type=checkbox] + label,
input[type=radio] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 2.4rem;
  padding-right: 0.75rem;
  position: relative;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
  border-radius: 2px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 1.65rem;
  left: 0;
  line-height: 1.58125rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65rem;
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  content: "\f00c";
}

input[type=checkbox] + label:before {
  border-radius: 2px;
}

input[type=radio] + label:before {
  border-radius: 100%;
}

.formerize-placeholder {
  opacity: 1;
}

label {
  color: #555;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
}

input[type=checkbox] + label,
input[type=radio] + label {
  color: #444;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  background-color: #00c3bc;
  border-color: #00c3bc;
  color: #ffffff;
}

input[type=checkbox]:focus + label:before,
input[type=radio]:focus + label:before {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.formerize-placeholder {
  color: #bbb !important;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Image */
.image {
  border-radius: 2px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 2px;
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5rem 1rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 1rem 1.5rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

ul li {
  padding-left: 0.5rem;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5rem 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1rem 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 2rem;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1rem 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5rem 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1rem 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5rem 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1rem;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1rem);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1rem;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5rem;
  width: calc(100% + 0.5rem);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5rem;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2rem 0;
  }

  ul.actions li {
    padding: 1rem 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions li > *.icon:before {
    margin-left: -2rem;
  }

  ul.actions.small li {
    padding: 0.5rem 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }
}
dl {
  margin: 0 0 2rem 0;
}

dl dt {
  display: block;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

dl dd {
  margin-left: 2rem;
}

ul.alt li {
  border-top-color: rgba(144, 144, 144, 0.25);
}

/* Section/Article */
section.special, article.special {
  text-align: center;
}

header p {
  position: relative;
  margin: 0 0 1.5rem 0;
}

header h2 + p {
  font-size: 1.25rem;
  margin-top: -1rem;
}

header h3 + p {
  font-size: 1.1rem;
  margin-top: -0.8rem;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9rem;
  margin-top: -0.6rem;
}

header p {
  color: #bbb;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2rem 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}

table td {
  padding: 0.75rem 0.75rem;
}

table th {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0 0.75rem 0.75rem 0.75rem;
  text-align: left;
}

table thead {
  border-bottom: solid 2px;
}

table tfoot {
  border-top: solid 2px;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

table tbody tr {
  border-color: rgba(144, 144, 144, 0.25);
}

table tbody tr:nth-child(2n+1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table th {
  color: #555;
}

table thead {
  border-bottom-color: rgba(144, 144, 144, 0.25);
}

table tfoot {
  border-top-color: rgba(144, 144, 144, 0.25);
}

table.alt tbody tr td {
  border-color: rgba(144, 144, 144, 0.25);
}

/* Wrapper */
.wrapper {
  padding: 6rem 0 4rem 0;
  position: relative;
  margin: 0;
}

.wrapper > .inner {
  z-index: 4;
  margin: 0 auto;
  width: 80rem;
}

.wrapper > .inner2 {
  z-index: 4;
  margin: 0 auto;
  width: 80rem;
}

.wrapper.style1 {
  background-color: #00c3bc;
  color: #e2d1df;
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
  color: #ffffff;
}

.wrapper.style1 a {
  color: #ffffff;
}

.wrapper.style1 strong, .wrapper.style1 b {
  color: #ffffff;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
  color: #ffffff;
}

.wrapper.style1 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type=submit],
.wrapper.style1 input[type=reset],
.wrapper.style1 input[type=button],
.wrapper.style1 button,
.wrapper.style1 .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.style1 input[type=submit]:hover,
.wrapper.style1 input[type=reset]:hover,
.wrapper.style1 input[type=button]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
  background-color: white;
}

.wrapper.style1 input[type=submit]:active,
.wrapper.style1 input[type=reset]:active,
.wrapper.style1 input[type=button]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
  background-color: #e5e5e5;
}

.wrapper.style1 input[type=submit].alt,
.wrapper.style1 input[type=reset].alt,
.wrapper.style1 input[type=button].alt,
.wrapper.style1 button.alt,
.wrapper.style1 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.style1 input[type=submit].alt:hover,
.wrapper.style1 input[type=reset].alt:hover,
.wrapper.style1 input[type=button].alt:hover,
.wrapper.style1 button.alt:hover,
.wrapper.style1 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 input[type=submit].alt:active,
.wrapper.style1 input[type=reset].alt:active,
.wrapper.style1 input[type=button].alt:active,
.wrapper.style1 button.alt:active,
.wrapper.style1 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type=submit].alt.icon:before,
.wrapper.style1 input[type=reset].alt.icon:before,
.wrapper.style1 input[type=button].alt.icon:before,
.wrapper.style1 button.alt.icon:before,
.wrapper.style1 .button.alt.icon:before {
  color: #d0b5cc;
}

.wrapper.style1 input[type=submit].special,
.wrapper.style1 input[type=reset].special,
.wrapper.style1 input[type=button].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
  background-color: #ffffff;
  color: #00c3bc !important;
}

.wrapper.style1 label {
  color: #ffffff;
}

.wrapper.style1 input[type=text],
.wrapper.style1 input[type=password],
.wrapper.style1 input[type=email],
.wrapper.style1 select,
.wrapper.style1 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type=text]:focus,
.wrapper.style1 input[type=password]:focus,
.wrapper.style1 input[type=email]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type=checkbox] + label,
.wrapper.style1 input[type=radio] + label {
  color: #e2d1df;
}

.wrapper.style1 input[type=checkbox] + label:before,
.wrapper.style1 input[type=radio] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type=checkbox]:checked + label:before,
.wrapper.style1 input[type=radio]:checked + label:before {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #00c3bc;
}

.wrapper.style1 input[type=checkbox]:focus + label:before,
.wrapper.style1 input[type=radio]:focus + label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .formerize-placeholder {
  color: #d0b5cc !important;
}

.wrapper.style1 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 header p {
  color: #d0b5cc;
}

.wrapper.style1 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 table th {
  color: #ffffff;
}

.wrapper.style1 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 {
  background-color: #f2f2f2;
  color: #a6a6a6;
}

.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
  color: #000;
}

.wrapper.style2 a {
  color: #00c3bc;
}

.wrapper.style2 strong, .wrapper.style2 b {
  color: #000;
}

.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
  color: #000;
}

.wrapper.style2 blockquote {
  border-left-color: #00c3bc;
}

.wrapper.style2 code {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 hr {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 .box {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type=submit],
.wrapper.style2 input[type=reset],
.wrapper.style2 input[type=button],
.wrapper.style2 button,
.wrapper.style2 .button {
  background-color: #00c3bc;
  color: #f2f2f2 !important;
}

.wrapper.style2 input[type=submit].alt,
.wrapper.style2 input[type=reset].alt,
.wrapper.style2 input[type=button].alt,
.wrapper.style2 button.alt,
.wrapper.style2 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  color: #000000 !important;
}

.wrapper.style2 .button.alt2 {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  color: white !important;
}

.wrapper.style2 input[type=submit].alt:hover,
.wrapper.style2 input[type=reset].alt:hover,
.wrapper.style2 input[type=button].alt:hover,
.wrapper.style2 button.alt:hover,
.wrapper.style2 .button.alt:hover {
  background-color: #00c3bc;
  color: white !important;
}

.wrapper.style2 input[type=submit].alt:active,
.wrapper.style2 input[type=reset].alt:active,
.wrapper.style2 input[type=button].alt:active,
.wrapper.style2 button.alt:active,
.wrapper.style2 .button.alt:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper.style2 input[type=submit].alt.icon:before,
.wrapper.style2 input[type=reset].alt.icon:before,
.wrapper.style2 input[type=button].alt.icon:before,
.wrapper.style2 button.alt.icon:before,
.wrapper.style2 .button.alt.icon:before {
  color: #999999;
}

.wrapper.style2 input[type=submit].special,
.wrapper.style2 input[type=reset].special,
.wrapper.style2 input[type=button].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
  background-color: #00c3bc;
  color: #ffffff !important;
}

.wrapper.style2 input[type=submit].special:hover,
.wrapper.style2 input[type=reset].special:hover,
.wrapper.style2 input[type=button].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
  background-color: #00c3bc;
}

.wrapper.style2 input[type=submit].special:active,
.wrapper.style2 input[type=reset].special:active,
.wrapper.style2 input[type=button].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
  background-color: #00c3bc;
}

.wrapper.style2 label {
  color: #000;
}

.wrapper.style2 input[type=text],
.wrapper.style2 input[type=password],
.wrapper.style2 input[type=email],
.wrapper.style2 select,
.wrapper.style2 textarea {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type=text]:focus,
.wrapper.style2 input[type=password]:focus,
.wrapper.style2 input[type=email]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.wrapper.style2 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type=checkbox] + label,
.wrapper.style2 input[type=radio] + label {
  color: #a6a6a6;
}

.wrapper.style2 input[type=checkbox] + label:before,
.wrapper.style2 input[type=radio] + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 input[type=checkbox]:checked + label:before,
.wrapper.style2 input[type=radio]:checked + label:before {
  background-color: #00c3bc;
  border-color: #00c3bc;
  color: #ffffff;
}

.wrapper.style2 input[type=checkbox]:focus + label:before,
.wrapper.style2 input[type=radio]:focus + label:before {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.wrapper.style2 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.style2 ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 header p {
  color: #00c3bc;
}

.wrapper.style2 table tbody tr {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table tbody tr:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.style2 table th {
  color: #000;
}

.wrapper.style2 table thead {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table tfoot {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style3 {
  background-color: #000;
  color: #bfbfbf;
  background-image: url(/images/image1.jpg?e9e3b78c5600c5d803dc845858f18236);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
  color: #ffffff;
}

.wrapper.style3 a {
  color: #00c3bc;
}

.wrapper.style3 strong, .wrapper.style3 b {
  color: #ffffff;
}

.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
  color: #ffffff;
}

.wrapper.style3 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type=submit],
.wrapper.style3 input[type=reset],
.wrapper.style3 input[type=button],
.wrapper.style3 button,
.wrapper.style3 .button {
  background-color: #f2f2f2;
  color: #000 !important;
}

.wrapper.style3 input[type=submit]:hover,
.wrapper.style3 input[type=reset]:hover,
.wrapper.style3 input[type=button]:hover,
.wrapper.style3 button:hover,
.wrapper.style3 .button:hover {
  background-color: white;
}

.wrapper.style3 input[type=submit]:active,
.wrapper.style3 input[type=reset]:active,
.wrapper.style3 input[type=button]:active,
.wrapper.style3 button:active,
.wrapper.style3 .button:active {
  background-color: #e5e5e5;
}

.wrapper.style3 input[type=submit].alt,
.wrapper.style3 input[type=reset].alt,
.wrapper.style3 input[type=button].alt,
.wrapper.style3 button.alt,
.wrapper.style3 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #ffffff !important;
}

.wrapper.style3 input[type=submit].alt:hover,
.wrapper.style3 input[type=reset].alt:hover,
.wrapper.style3 input[type=button].alt:hover,
.wrapper.style3 button.alt:hover,
.wrapper.style3 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style3 input[type=submit].alt:active,
.wrapper.style3 input[type=reset].alt:active,
.wrapper.style3 input[type=button].alt:active,
.wrapper.style3 button.alt:active,
.wrapper.style3 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style3 input[type=submit].alt.icon:before,
.wrapper.style3 input[type=reset].alt.icon:before,
.wrapper.style3 input[type=button].alt.icon:before,
.wrapper.style3 button.alt.icon:before,
.wrapper.style3 .button.alt.icon:before {
  color: #999999;
}

.wrapper.style3 input[type=submit].special,
.wrapper.style3 input[type=reset].special,
.wrapper.style3 input[type=button].special,
.wrapper.style3 button.special,
.wrapper.style3 .button.special {
  background-color: #00c3bc;
  color: #ffffff !important;
}

.wrapper.style3 input[type=submit].special:hover,
.wrapper.style3 input[type=reset].special:hover,
.wrapper.style3 input[type=button].special:hover,
.wrapper.style3 button.special:hover,
.wrapper.style3 .button.special:hover {
  background-color: #00c3bc;
}

.wrapper.style3 input[type=submit].special:active,
.wrapper.style3 input[type=reset].special:active,
.wrapper.style3 input[type=button].special:active,
.wrapper.style3 button.special:active,
.wrapper.style3 .button.special:active {
  background-color: #00c3bc;
}

.wrapper.style3 label {
  color: #ffffff;
}

.wrapper.style3 input[type=text],
.wrapper.style3 input[type=password],
.wrapper.style3 input[type=email],
.wrapper.style3 select,
.wrapper.style3 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type=text]:focus,
.wrapper.style3 input[type=password]:focus,
.wrapper.style3 input[type=email]:focus,
.wrapper.style3 select:focus,
.wrapper.style3 textarea:focus {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.wrapper.style3 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type=checkbox] + label,
.wrapper.style3 input[type=radio] + label {
  color: #bfbfbf;
}

.wrapper.style3 input[type=checkbox] + label:before,
.wrapper.style3 input[type=radio] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 input[type=checkbox]:checked + label:before,
.wrapper.style3 input[type=radio]:checked + label:before {
  background-color: #00c3bc;
  border-color: #00c3bc;
  color: #ffffff;
}

.wrapper.style3 input[type=checkbox]:focus + label:before,
.wrapper.style3 input[type=radio]:focus + label:before {
  border-color: #00c3bc;
  box-shadow: 0 0 0 1px #00c3bc;
}

.wrapper.style3 .formerize-placeholder {
  color: #999999 !important;
}

.wrapper.style3 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 header p {
  color: #00c3bc;
}

.wrapper.style3 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style3 table th {
  color: #ffffff;
}

.wrapper.style3 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style3 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 736px) {
  .wrapper.style3 .inner {
    position: relative;
    margin-top: 10%;
    z-index: 2;
  }

  .wrapper > .inner2 {
    z-index: 4;
    margin: 0 auto;
    width: 90%;
  }
}
.wrapper.style3 .inner {
  position: relative;
  z-index: 2;
}

.wrapper.style3 p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1rem 0;
  letter-spacing: 0.25rem;
}

.wrapper.style3 p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper.style3:before {
  transition: opacity 3s ease;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 75rem;
  }
}
@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 90%;
  }

  .wrapper.style3 {
    background-attachment: scroll;
  }

  .wrapper > .inner2 {
    z-index: 4;
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3rem 0 1rem 0;
  }

  .dontdisplayonmobile {
    display: none;
  }
}
/* Flexgrid */
.grid-style {
  width: 100%;
  margin: 0 0 2.5rem 0;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid-style2 {
  width: 100%;
  margin: 0 0 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid-style > * {
  flex-shrink: 1;
  flex-grow: 0;
}

.grid-style > * {
  width: 50%;
}

.grid-style > * {
  padding: 2rem;
  width: calc(50% + 2rem);
}

.grid-style > :nth-child(-n+2) {
  padding-top: 0;
}

.grid-style > :nth-last-child(-n+2) {
  padding-bottom: 0;
}

.grid-style > :nth-child(2n+1) {
  padding-left: 0;
}

.grid-style > :nth-child(2n) {
  padding-right: 0;
}

.grid-style > :nth-child(2n+1),
.grid-style > :nth-child(2n) {
  width: calc(50% + 0rem);
}

.grid-style .box {
  margin: 0;
}

@media screen and (max-width: 980px) {
  .grid-style > * {
    width: 100%;
  }

  .grid-style > * {
    padding: 1rem;
    width: calc(50% + 1rem);
  }

  .grid-style > :nth-child(-n+2) {
    padding-top: 1rem;
  }

  .grid-style > :nth-last-child(-n+2) {
    padding-bottom: 1rem;
  }

  .grid-style > :nth-child(2n+1) {
    padding-left: 1rem;
  }

  .grid-style > :nth-child(2n) {
    padding-right: 1rem;
  }

  .grid-style > :nth-child(2n+1),
.grid-style > :nth-child(2n) {
    padding: 1rem;
    width: calc(100% + 2rem);
  }

  .grid-style > * {
    padding: 1rem;
    width: calc(100% + 2rem);
  }

  .grid-style > :nth-child(-n+1) {
    padding-top: 0;
  }

  .grid-style > :nth-last-child(-n+1) {
    padding-bottom: 0;
  }

  .grid-style > :nth-child(1n+1) {
    padding-left: 0;
  }

  .grid-style > :nth-child(1n) {
    padding-right: 0;
  }

  .grid-style > :nth-child(1n+1),
.grid-style > :nth-child(1n) {
    width: calc(100% + 1rem);
  }
}
/* Header */
body.subpage {
  padding-top: 3.25em;
}

@-webkit-keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal-header {
  0% {
    top: -4em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
#header {
  background: rgba(0, 0, 0, 0.975);
  color: #a6a6a6;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header > .logo {
  display: inline-block;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#header > .logo a {
  font-size: 1.25em;
  color: #00c3bc;
  text-decoration: none;
}

#header > .logo a:hover {
  color: rgba(255, 255, 255, 0.65);
}

#header > .logo span {
  font-weight: 400;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.65);
}

#header > a {
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 0.75em;
  color: inherit;
  text-decoration: none;
  color: #FFF;
}

#header > a:hover {
  color: #f2f2f2;
}

#header > a[href="#menu"] {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#header > a[href="#menu"]:before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header > a[href="#menu"]:before {
  margin: 0 0.5em 0 0;
}

#header > a + a[href="#menu"]:last-child {
  border-left: solid 1px rgba(0, 0, 0, 0.15);
  padding-left: 1.25em;
  margin-left: 0.5em;
}

#header > a:last-child {
  padding-right: 1.25em;
}

@media screen and (max-width: 736px) {
  #header > a {
    padding: 0 0.5em;
  }

  #header > a + a[href="#menu"]:last-child {
    padding-left: 1em;
    margin-left: 0.25em;
  }

  #header > a:last-child {
    padding-right: 1em;
  }
}
#header.reveal {
  -webkit-animation: reveal-header 0.5s ease;
          animation: reveal-header 0.5s ease;
}

#header.alt {
  -webkit-animation: none;
          animation: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  position: absolute;
  top: 1.5em;
}

#header.alt h1 {
  left: 2.5em;
}

#header.alt nav {
  right: 2.5em;
}

@media screen and (max-width: 980px) {
  body.subpage {
    padding-top: 44px;
  }

  #header {
    height: 44px;
    line-height: 44px;
  }

  #header > h1 {
    left: 1em;
  }

  #header > h1 a {
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}
/* Menu */
#menu {
  transform: translateX(20rem);
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 195, 188, 0.6);
  box-shadow: none;
  color: #000;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20rem;
  z-index: 10002;
}

#menu > ul {
  margin: 0 0 1rem 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
  margin-top: 10%;
}

#menu > ul.links > li {
  padding: 0;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.125);
  color: white;
  display: block;
  line-height: 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

#menu > ul.links > li > a:not(.button):hover {
  color: black;
  transform: scale(1.3);
}

#menu > ul.links > li > .button {
  display: block;
  margin: 0.5rem 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

#menu .close {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #999999;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  line-height: 3.25rem;
  padding-right: 1.25rem;
  position: absolute;
  right: 4%;
  text-align: right;
  top: 2%;
  vertical-align: middle;
  width: 7rem;
}

#menu .close:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#menu .close:before {
  font-size: 1.25rem;
}

#menu .close:hover {
  color: #000;
}

@media screen and (max-width: 736px) {
  #menu .close {
    height: 4rem;
    line-height: 4rem;
  }
}
#menu.visible {
  transform: translateX(0);
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

@media screen and (max-width: 736px) {
  #menu {
    padding: 2.5rem 1.75rem;
  }
}
/* Banner */
.banner {
  background-color: black;
  color: #e2d1df;
  padding: 8em 0;
  position: relative;
}

.banner input, .banner select, .banner textarea {
  color: #ffffff;
}

.wrapper a {
  color: #ffffff;
}

.banner strong, .banner b {
  color: #ffffff;
}

.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
  color: #ffffff;
}

.banner blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.banner code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.banner hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.banner.full {
  padding: 0;
  min-height: 100vh;
  height: 100vh !important;
}

.banner.half {
  padding: 0;
  min-height: 50vh;
  height: 50vh !important;
}

.banner:after {
  pointer-events: none;
  transition: opacity 1.5s ease-in-out, visibility 1.5s;
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.banner .indicators {
  bottom: 1.5em;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.banner .indicators li {
  cursor: pointer;
  display: inline-block;
  height: 2em;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: 2em;
  width: 2em;
}

.banner .indicators li:before {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 0.8em;
  left: 50%;
  margin: -0.4em 0 0 -0.4em;
  position: absolute;
  text-indent: 0;
  top: 50%;
  width: 0.8em;
}

.banner .indicators li.visible:before {
  background: #fff;
}

.banner > article {
  transition: opacity 1.5s ease, visibility 1.5s;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 0;
}

.banner > article:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.banner > article:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.35;
}

.banner > article .inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
}

.banner > article .inner > :last-child {
  margin-bottom: 0;
}

.banner > article h2 {
  font-size: 7rem;
  margin-bottom: 0;
  color: #FFF;
  font-weight: 300;
}

.banner > article .h2 {
  margin-bottom: 0;
  color: #FFF;
  font-weight: 300;
}

.banner > article h2:after {
  display: none;
}

.banner > article p {
  color: #00c3bc;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 1.75rem;
  letter-spacing: 0.25rem;
}

.banner > article p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.65);
}

.banner > article a {
  color: #FFF;
  text-decoration: none;
}

.banner > article img {
  display: none;
}

.banner > article.visible {
  opacity: 1;
  visibility: visible;
}

.banner > article.top {
  z-index: 1;
}

.banner > article.instant {
  transition: none !important;
}

body.is-loading .banner:after {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1280px) {
  .banner.full {
    padding: 0;
    min-height: 100vh;
    height: 100vh !important;
  }
}
@media screen and (max-width: 980px) {
  .banner.full {
    padding: 0;
    min-height: 50vh;
    height: 50vh !important;
  }

  .banner > article {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 736px) {
  .banner > article .inner {
    width: 90%;
  }

  .banner > article p {
    margin-bottom: 1rem;
  }

  .banner > article h2 {
    font-size: 1em;
  }
}
body.is-mobile .banner > article {
  background-attachment: scroll;
}

/* Main */
#main {
  padding: 4rem 0 2rem 0;
}

@media screen and (max-width: 736px) {
  #main {
    padding: 3rem 0 1rem 0;
  }
}
/* Footer */
#footer {
  padding: 4rem 0 2rem 0;
  background: #000;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #FFF;
}

#footer .copyright {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3rem 0 1rem 0;
  }
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 1rem;
  overflow: hidden;
  font-size: 0.675rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress, .progress-bar {
  display: flex;
}

.progress-bar {
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width 0.6s ease;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.15) 75%, transparent 0, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

#particletoggler {
  display: block;
}

#particletoggler2 {
  display: none !important;
}

@media screen and (max-width: 500px) {
  #particletoggler {
    display: none !important;
  }

  #particletoggler2 {
    display: block !important;
  }
}
#sendButton[disabled] {
  transition: opacity 0.2s linear;
}

#sendButton {
  transition: opacity 0.2s linear;
}

.formmargin {
  margin: 3%;
}

.formmargin2 {
  margin: 1%;
}

.formmargin3 {
  margin: 1% 1% 2% 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

button[disabled] {
  opacity: 1;
  background-color: #00c3bc !important;
  color: white !important;
}

.mobilehomepage {
  display: none;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }

  .mobilehomepage {
    display: block;
  }

  .nonmobilehomepage {
    display: none;
  }
}
